<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width" initial-scale= "1.0"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles/controlcss.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/controlcss.css')}}">
    <title>CMat</title>
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <header class="row banners" id="main-banner" role="banner">
      <div class="col-lg-8 col-sm-12">
        <h1>Control Systems</h1>
      </div>
      <div class="col-lg-4 col-sm-12">
        <h6>Theory & Practice.</h6>
      </div>
    </header>

    <nav class="navbar navbar-expand-lg navbar-light" id="main-navbar">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMeeting" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Meetings
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMeeting">
              <a class="dropdown-item" href="#">Meet I </a>
              <a class="dropdown-item" href="#">Meet II </a>
              <a class="dropdown-item" href="#">Meet III </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Preparations</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTopics" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Topics
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Classical Control</a>
              <a class="dropdown-item" href="#">Optimal Control</a>
              <a class="dropdown-item" href="#">Attitude Control</a>
              <a class="dropdown-item" href="#">Formation Control</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Mathematics</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Forum <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-6 col-xl-8">
            {%block main_story%}
            {%endblock%}
        </div>

        <div class="col-12 col-md-6 col-xl-4 mx-2 my-5">
            {%block side_panel%}
            {%endblock%}
        </div>
    </div>
    </div>
  </body>
</html>